<h2>{{title}}</h2>
<h3>websocket state: {{getState()}}</h3>
<button (click)="wsconnect()" >connect</button>
<button (click)="wsdisconnect()" >disconnect</button>
<nav>
  <ul>
      <li><a routerLink="/signin">signin</a></li>
      <li><a routerLink="/roomlist">roomlist</a></li>
      <li><a routerLink="/createroom">createroom</a></li>
      <li><a routerLink="/gameplay">gameplay</a></li>
      <li><a routerLink="/inroom">inroom</a></li>
      <li><a routerLink="">Main</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
