<div id="app">
    <div id="blue_planet" >
      <div id="circle1" class="orange_circle" ></div>
      <div class="dot" style="left: 150px; top: 50px;" ></div>
    </div>
    <nav>
        <div style="color: #ffffff">Aasdasdasd</div>
        <div style="color: #4c70ba">Facebook</div>
        <div style="color: #cd201f">Youtube</div>
        <div style="color: #1da1f2">Twitter</div>
        <div style="color: #fe6ea1">Aasdasdasd</div>
        <div class="msgbox" >
          <div class="msg" >
            Twitter
          </div>
        </div>
        <div style="color: #cd201f; font-size: 25px" >
          <div class="tangerine">Cafe Luna</div>
          <div class="amatik">
            Of all the things I have lost
          </div>
          <div class="indie_flower">
            I miss my mind the most
          </div>
          <div class="poiret_one" >Poiret One</div>
          <div class="press_start_2p">Press Start 2p</div>
          <div class="audiowide">Audiowide</div>
          <div class="henny_penny">Henny Penny</div>
          <div class="pinyon_script">Pinyon Script. Dell</div>
          <div class="cody_star">Cody Star</div>
        </div>
  
        <p class="marquee">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus felis elementum mollis. Aliquam nec dignissim neque.</span>
        </p>
        <!-- 2. TODO: 
          efekt pisania w terminalu (dark colony)
          https://www.youtube.com/watch?v=yE__u0Yjmts
        -->
  
    </nav>
  </div>