<div style="background-color: #cccccc; padding: 10px; margin: 30px" >
  <h2>{{title}} / {{authService.username}}</h2>
  <h3>websocket state: {{connState}}</h3>
  <button (click)="on_makeRpcRequest_BtnClick()" >rpc request</button>
  {{rpcResp}}
  <nav style="display: flex; justify-content: space-around; " >
    <a routerLink="">Main</a>
    <a routerLink="/signin">sign in</a>
    <a routerLink="/roomlist">rooms' list</a>
    <a routerLink="/settings">settings</a>
    <!-- <a routerLink="/gameplay">gameplay</a> -->
  </nav>
  <div style="border: 2px solid black; background-color: #eeeeee" >
    <router-outlet></router-outlet>
  </div>
</div>
